body {
    background-color: #F5F1F0;
}

#content {
    background-color: white;
    width: 1028px;
    margin: auto;
    position: relative;
}

.center {
    margin: auto;
    width: 1028px;
}

audio {
    width: 100px;
}

#controlA {
    position: absolute;
    left: 10px;
    top: 250px;
}

#tempoLabel {
    display: block;
    margin-top: 35px;
    margin-bottom: 18px;
}

#tempoInput {
    width: 50px;
}

#volumeLabel {
    display: block;
    margin-top: 20px
}

#controlB {
    position: absolute;
    width: 175px;
    right: 10px;
    top: 205px;
    overflow: hidden;
    clear: both;
}

#mirrorControl {
    position: absolute;
    left: 150px;
    top: 10px;
}

#rhythmButtons {
    position: absolute;
    left: 10px;
    top: 0px;
}

button {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    display: block;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #B5B5B5;
    cursor: pointer;
    vertical-align: middle;
}

button.controlB {
    float: right;
}

#rotateGroup button {
    width: 136px;
}

button.rhythm, button.note {
    width: 100px;
}

.deletePreset, .sequencePreset, .savePreset, .saveSet, .exportSet {
    width: auto;
    height: 20px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
}

.active {
    font-weight: bold;
    color: #DB3352;
}

#voices {
    position: absolute;
    top: 0px;
    right: 10px;
}

#voices button {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
}

#voices button.selected {
    background-color: #eeb8bd;
}

#voices button.selected.activeInstrument {
    background-color: #DB3352;
}

#voices img {
    vertical-align: middle;
    height: 24px;
}

#notes {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 100px;
    margin: 10px 0;  
}

#scaleSelect, #chordSelect {
    width: 100px;
    margin: 5px 0;
}

#muteGroup, #rotateGroup {
    margin-top: 20px;
}

#presets {
    height: 235px;
    overflow: hidden;
    float: right;
}

#sequence {
    height: 100px;
    float: right;
}

#sequenceDisplay {
    height: 20px;
    width: 180px;
    overflow: hidden;
    text-align: right;
    clear: both;
}

#sequenceDisplay span {
    display: inline-block;
    padding-left: 2px;
}

ul {
    clear: both;
    margin-top: 5px;
    text-align: right;
    padding: 5px 0 0 0;
    list-style: outside none none;
}

#sets {
    background-color: white;
    width: 1018px;
    margin: 5px auto;
    padding: 5px;
    position: relative;
}

#setsList {
    float: right;
    width: 100px;
}

#footer {
    width: 1018px;
    margin: 5px auto;
    padding: 5px;
    position: relative;
}

#lang {
    float: right;
}

#terms {
    float: left;
}

#sets div {
    display: inline;
    padding: 5px;
    margin: 0px;
}

#enableAll {
    display: inline;
    text-align: center;
    width: 150px;
    height: 20px;
    margin: 2px;
    display: inline-block;
}

.exportSet {
    float: right;
    width: 20px;
}

/* #sets ul, #sets li {
    display: inline;
    text-align: center;
    padding: 5px;
    margin: 0px;
} */

#saveSetButton, #loadSetButton {
    width: auto;
    height: 20px;
    margin: 2px;
    display: inline-block;
}

#saveSetButton, #loadSetButton {
    margin-left: 10px;
}

#saveSetButton:active, #loadSetButton:active {
    background-color: #DB3352;
}

.level3 {
    visibility: hidden;
}

#setsFull {
    visibility: hidden;
    overflow: hidden;
}

#output {
    position: absolute;
    left: 150px;
    bottom: 10px;
    width: 600px;
}

#output svg {
    margin: auto;
    display: block;
}